<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newhopehotel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewHopeHotel">
        <activity android:name=".roomService.RoomService" />
        <activity android:name=".housekeeping.Housekeeping" />
        <activity android:name=".housekeeping.AssignWork" />
        <activity android:name=".housekeeping.RoomCleaningTime" />
        <activity android:name=".housekeeping.Rooms8am" />
        <activity android:name=".housekeeping.Rooms12pm" />
        <activity android:name=".housekeeping.Rooms4pm" />
        <activity android:name=".housekeeping.Rooms8pm" />
        <activity android:name=".checkInCheckOut.CheckInCheckOut" />
        <activity android:name=".customerFeedback.CustomerFeedback1" />
        <activity android:name=".data.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>